.navbar {
  background: url('../media/Hero-bg.png');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-repeat: no-repeat;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f48ff;
}

.signup-btn {
  background-color: #3f48ff;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
}
/* banner style */


.banner {
  background: url('../media/Hero-bg.png');
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.focus-btn {
  background-color: #3f48ff;
  border: none;
  padding: 12px 25px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
}

/* action style */
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  gap: 40px;
}

.action-left {
  flex: 1;
}

.action-left h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.action-left p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.preview-btn {
  background-color: #3f48ff;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
}

.action-right {
  flex: 1;
}

.action-right img {
  width: 100%;
  border-radius: 16px;
}
